/* dev styles go here */
body {
    font-family: sans-serif;
}

header {
    background-color: #191919;  
    padding:0.5rem;
}

/* font styles go on the anchor directly: */

ul.menu a {
    color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

/* then all the spacing and layout goe on the li elements:*/

ul.menu li {

}